
<article class="media">
  <div class="media-left">
    <figure class="image is-64x64">
      <img src="https://cdn.discordapp.com/icons/<%= guild.id %>/<%= guild.icon %>.png" alt="Image">
    </figure>
  </div>
  <div class="media-content">
    <div class="columns is-gapless">
      <div class="content column">
        <p>
          <strong><%= guild.name %></strong> <small><%= guild.id %></small>
        <ul>
          <% if(guild.features.length > 0){guild.features.forEach(feature => { %>
            <li><%= feature %></li>
          <% })} else {%>
            <li> Nothing</li>
          <% }%>
        </ul>
        </p>
      </div>
      <div class="content column">
        <% let guildsArr = [];
        clientGuilds.forEach(x => {
          guildsArr.push(x.guildID)
        })
        if(guildsArr.includes(guild.id)) {
        %>
        <a class="button is-primary is-rounded is-large custom-button" href="/settings?gid=<%= guild.id %>">Setting <%= guild.name %></a>
        <%} else {%>
          <a class="button is-primary is-rounded is-large custom-button" href="https://discord.com/oauth2/authorize?client_id=658593409401094147&permissions=1609957366&scope=bot">Invite to <%= guild.name %></a>
        <%}%>
        </div>
      </div>
    </div>
  </div>
</article>
</div>